.footer {
  background-color: rgba(0, 151, 167, 1.0);
  ￼height: 34px;
  line-height: 34px;
  bottom:0px;
  width: 100%;
  text-align: center;
  position: fixed;
  * {
    color: rgb(48, 48, 48);
  }
  a {
    text-decoration: none;
  }
}
